[Unit]

Description=Airflow scheduler daemon

After=network.target postgresql.service 
Wants=postgresql.service

[Service]

EnvironmentFile=/etc/sysconfig/airflow

User=root

Group=root

Type=simple

ExecStart=/usr/local/bin/airflow scheduler

Restart=always

RestartSec=10s



[Install]

WantedBy=multi-user.target